<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583592017377-31fll7gklfp7kt61dek5pqj9d6b8l4ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583592017377-31fll7gklfp7kt61dek5pqj9d6b8l4ft</string>
	<key>API_KEY</key>
	<string>AIzaSyBHUnQJAN-jzswoccn62lUSa-KKKgw39Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>583592017377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login01</string>
	<key>PROJECT_ID</key>
	<string>login01-69072</string>
	<key>STORAGE_BUCKET</key>
	<string>login01-69072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583592017377:ios:794e01d2714a38519366a0</string>
</dict>
</plist>